﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.chat {

    height: 100%;
    width: 100%;
}


#mainArea {
    min-height: 500px;
    width: 69%;
    border: solid 2px black;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #002b8e;
}

select {
    word-wrap: normal;
    text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html {
    font-size: 20px;
    min-width: fit-content;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.bg-white {
    background-color: #002b8e !important;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-light .navbar-brand {
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 25px;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body, html {
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.btn-success {
    font-size: 10px;
    width: 100px;
    height: 40px;
}

.btn-danger {
    font-size: 10px;
    width: 100px;
    height: 40px;
}

.text-center .form-group label {
    width: 120px;
    color: #ffff;
}

.text-center .form-group input[type=text] {
    width: 200px;
}

.text-center {
    font-size: 15px;
    width: min-content;
    border-radius: 10px;
    background-color: #002b8e;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px;
}

#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-outline-dark:hover {
    color: #000000;
    background-color: #cae5ff;
    border-color: #343a40;
}

.btn-outline-dark {
    color: #ffff;
    background-color: #343a40;
    border-color: #cae5ff;
    right: 0;
}

#logotype {
    width: 100%;
    height: 100%;
}

.logotype {
    background-color: white;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
}

.p1 {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

.autorization-window {
    float: left;
}

.info {
    background-color: #efdede;
    border: 3px;
    box-shadow: 10px;
}

.table .form-group label {
    width: 120px;
    color: #ffff;
}

.table .form-group input[type=text] {
    width: 200px;
}

.table {
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    background-color: #002b8e;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px;
}

    .table > table {
        font-size: 15px;
        width: 100%;
        background-color: #d0dff8;
        padding: 20px 20px 20px 20px;
        border-color: #002b8e;
        border-radius: 5px;
        box-shadow: 10px;
        border: 3px;
        margin: 0;
    }

    .table td, .table th {
        padding: 1px;
        vertical-align: baseline;
        border-top: 2px solid darkblue;
        height: 20px;
        text-align: center;
        border-collapse: collapse;
    }

td {
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-left: 2px solid darkblue;
    border-collapse: collapse;
}

.th {
    border-right: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
    border-left: 2px solid darkblue;
    border-collapse: collapse;
}

.btn-td {
    width: 10px;
}

.intable {
    border-right: 2px solid darkblue;
    border-left: 2px solid darkblue;
}

.info {
    width: 50vw;
    height: 40vw;
    background-image: url(../images/body_background.jpg);
    background-size: cover;
    align-content: center;
    vertical-align: baseline;
    border: solid 5px;
    border-color: darkblue;
    box-shadow: 10px;
    border-radius: 10px;
    margin-right: 250px;
    padding-left: 0px;
    margin-left: 280px;
    padding-right: 100px;
}

span {
    color: white;
    font-size: 10px;
}

a:not([href]):not([tabindex]) {
    color: white;
    text-decoration: none;
}

div > .model-body {
    width: 100px;
    border-radius: 15px;
}

.text-center-modal {
    font-size: 15px;
    width: min-content;
    border-radius: 10px;
    background-color: #002b8e;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px;
}

.modal-content {
    font-size: 15px;
    width: min-content;
    border-radius: 10px;
    background-color: white;
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px;
}

#p1 {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    width: 150px;
    color: black;
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    color: black;
}


label {
    display: inline-block;
    margin-bottom: .5rem;
    color: white;
}

.text-center-modal > .form-group {
    margin-bottom: 1rem;
    text-align: center;
}






@font-face {
    font-family: 'FontAwesome';
    src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-right:before {
    content: "\f054";
}

.glyphicon-chevron-left:before {
    content: "\f053";
}
