﻿@model Messenger.ViewModels.LoginModel

<div class="block_1">
    <div class="autorization-window" id="login-window">

        <div class="text-center" id="login">
            <p class="p1">Авторизация</p>
            <div>
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                    <div class="form-group" id="formgroup">
                        <label asp-for="Login">E-mail</label>
                        <input type="text" asp-for="Login" />
                        <span asp-validation-for="Login" />
                    </div>
                    <div class="form-group" id="formgroup">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" />
                        <span asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Войти" class="btn btn-outline-dark" />
                    </div>
                </form>
            </div>
          
        </div>  
    </div>
</div>