﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="chat" style="display: flex">
    <div id="mainArea">

    </div>
    <div style="min-height: 500px; width: 29%; border: solid 2px black; text-align: start; ">
        <p>Users<p>
    </div>   
</div>
<div>
    <input type="text" id="textInput">
    <button id="sendText" value="Send" class="btn btn-info" />
</div>


@section Scripts
{
    <script>
        $(document).ready(
            function () {
                $("#sendText").click(function () {
                    var text = $("#textInput").val();
                    hubConnection.invoke("Send", text);
                });

                hubConnection.on("MessageSent", function (message) {
                    $("#mainArea").append("<p>" + message + "</p>");
                });
            });
    </script>
}
